pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary1",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.cont1",
								"type": "Expression"
							},
							"dictionary": {
								"value": "@pipeline().parameters.dict1",
								"type": "Expression"
							},
							"file": {
								"value": "@pipeline().parameters.file1",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems.name",
						"type": "Expression"
					},
					"isSequential": true
				}
			}
		],
		"parameters": {
			"cont1": {
				"type": "string"
			},
			"dict1": {
				"type": "string"
			},
			"file1": {
				"type": "string"
			}
		},
		"folder": {
			"name": "toshit_adfpipe"
		},
		"annotations": []
	}
}